{% extends 'base.html' %}
{% block content %}
<div class="card text-center ticket-upload">
    <div class="card-header ">
        <h2>Créer une review</h2>
    </div>
    <div class="card-body">
        <p><strong>information sur le livre :</strong> </p>
        <form method="post" enctype="multipart/form-data">
        
        {{ ticket_form.as_p }}
        <p><strong>review :</strong> </p>
        {{ review_form.as_p }}
        {% csrf_token %}
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Retour</a>
        <button class="btn btn-primary" type="submit" >Publier</button>
    </form> 
    </div>
   
    
</div>

{% endblock content %}