{% extends 'base.html' %}

{% block content %}
  <h2>Abonnements</h2>
  <form method="post" action="{% url 'subscription' %}">
    {% csrf_token %}
    {{ user_search_form.username_search.label_tag }} {{ user_search_form.username_search }}
    <button type="submit">Rechercher</button>
  </form>

  {% if users_found %}
    <h3>Résultats de recherche</h3>
    <ul>
      {% for user in users_found %}
        <li>
          {{ user.username }}

          <form method="post" action="{% url 'follow-user' user.pk %}">
            {% csrf_token %}
            <button type="submit">S'abonner</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h3>Abonnements</h3>
  <ul>  
    {% for user in followed_users %}
      <li>
        {{ user.followed_user.username }}
        <form method="post" action="{% url 'unfollow-user' user.followed_user.pk %}">
          {% csrf_token %}
          <button type="submit">Se désabonner</button>
        </form>
      </li>
    {% endfor %}
  </ul>

<h3>Abonnée</h3>
  <ul>  
    {% for user_follows in user_followers %}
      <li>
        {{ user_follows.user.username }}
        <form method="post" action="{% url 'follow-user' user_follows.user.pk %}">
        {% csrf_token %}
        <button type="submit">S'abonner</button>
      </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
